*{
  box-sizing: border-box;
  margin-left: 50px;
}
html{
  background-color: darkgoldenrod;
}
.main-header {
  margin-left: 150px;
  margin-right: 150px;
  border: 3px solid black;
  background-color: burlywood;
  
}
table{
  border: 2px solid black;

}
td{
  border: 1px solid black;
}
main{
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 80px;
}
.fishHeading{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header main img{
  border: 3px solid blue;
  border-radius: 50;
}


nav ul{
  margin-left: 150px;
  margin-right: 150px;
  /* border: 3px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  width: 100%;
}
nav a:hover {
  background-color: grey;
}

main ul{
  margin-top: 30px;
  /* border: 3px solid black; */
  display: flex;
  justify-content: space-evenly;

}
section img{
  margin-top: 30px;
  /* border: 3px solid green; */
  display: flex;
  justify-content: center;
}
section article{
  margin-top: 30px;
  /* border: 3px solid yellow; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

article p{
  /* border: 3px solid brown; */
  display: flex;
  justify-content: center;
  margin: 100px;
}
article h2{
  /* border: 3px solid orange; */
  position: absolute;
  margin-bottom: 300px;

}
button{
  /* border: 3px solid blue; */
  position: absolute;
  left: 817px;
  display: flex;
  ;
  
}
footer{
  border: 3px solid black;

}
  